PIFBOT_BOT_NAME=LatherBot
PIFBOT_BLACKLIST={"BourbonExile": "This is just a test.", "MadShaver": "Selling PIF winnings is frowned upon."}
PIFBOT_LOG_PATH=/home/pi/LatherBot.log
PIFBOT_MONITORED_SUBREDDITS=["WetShaving", "ircbst"]
PIFBOT_KARMA_SUBREDDITS=["WetShaving"]
PIFBOT_STORAGE_BACKEND=local
PIFBOT_STORAGE_PATH=/tmp/pifbot_storage/pifs.json
